.container {
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: beige;
}

.input-container {
  margin: 20px;
  height: 60px;
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-family: Verdana;
  font-weight: 300;
}

button {
  cursor: pointer;
}

#taskInput {
  height: 20px;
  width: 300px;
  padding: 8px;
  border: none;
}

.task-component {
  margin: 10px;
  padding: 10px;
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.content input:read-only {
  width: 340px;
  border: none;
  padding: 6px;
  outline: none;
  cursor:inherit;
}

.done {
  color: green;
}

.actions button {
  margin-left: 4px;
}