.container {
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: beige;
}

.input-container {
  margin: 20px;
  height: 60px;
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-family: Verdana;
  font-weight: 300;
}

#taskInput {
  height: 20px;
  width: 300px;
  padding: 8px;
  border: none;
}

.task-component {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: aliceblue;
}

.task-component p {
  margin-left: 10px;
  cursor: pointer;
}

.task-component p:hover::after {
  content: 'edit';
  font-size: 14px;
  margin-left: 3px;
  background-color: lightgreen;
}